<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17860812359-ct8t9c61bgefkrl4vej2vpjful0d6iv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17860812359-ct8t9c61bgefkrl4vej2vpjful0d6iv5</string>
	<key>API_KEY</key>
	<string>AIzaSyCfYXnNoLw40aN7SxYJErOMMayfUQhR13k</string>
	<key>GCM_SENDER_ID</key>
	<string>17860812359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catstudio.apartment</string>
	<key>PROJECT_ID</key>
	<string>apartment-rent-ce0d4</string>
	<key>STORAGE_BUCKET</key>
	<string>apartment-rent-ce0d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17860812359:ios:427731df893d6a1f039b62</string>
</dict>
</plist>